.nav {
  &__subnav {
    padding: 0;
    min-height: auto !important;
    flex-grow: 1;

    :global(.MuiAccordionSummary-content) {
      margin: 0;
    }
  }

  &__subnav-details {
    padding-bottom: 8px;
  }
}
